<% if @mobile %>
  <div class="-mx-3">
    <button data-action="dropdown#toggle:stop" type="button" class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" aria-controls="disclosure-1" aria-expanded="false">
      <%= @title %>
      <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
      </svg>
    </button>
    <div data-dropdown-target="menu" class="hidden mt-2 space-y-2" id="disclosure-1">
      <% @items.each do |item| %>
        <%= link_to item[:path], class: "block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50" do %>
          <%= item[:title] %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="relative">
    <button data-action="dropdown#toggle:stop" type="button" class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900" aria-expanded="false">
      <%= @title %>
      <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
      </svg>
    </button>
    <div data-dropdown-target="menu" class="hidden absolute -left-8 top-full z-10 mt-3 w-screen max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5">
      <div class="p-4">
        <% @items.each do |item| %>
          <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
            <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
              <svg class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="<%= item[:svg_path] %>" />
              </svg>
            </div>
            <div class="flex-auto">
              <%= link_to item[:path], class: "block font-semibold text-gray-900" do %>
                <%= item[:title] %>
                <span class="absolute inset-0"></span>
              <% end %>
              <p class="mt-1 text-gray-600"><%= item[:description] %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>