
<div class="flex justify-between items-center">
  <%= search_form_for query, data: {turbo_frame: frame}, class: "flex-grow" do |f| %>
    <%= hidden_field_tag :search_session_token, search_session_token %>
    <%= f.label search_field_predicate, class: "sr-only" %>
    <%= f.search_field search_field_predicate, oninput: "this.form.requestSubmit()", placeholder: placeholder, class: "block w-1/4 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
  <% end %>

  <%= config_dropdowns %>
</div>
