<%= turbo_frame_tag frame do %>
  <div class="mt-2 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <%= render Tables::TableComponent.new do |table| %>
          <% columns.each do |column| %>
            <% table.with_header(nil, sr_only: column[:sr_only]) do %>
              <div class="flex justify-between">
              <%= sort_link(query, column[:attribute_name], column[:header], data: {turbo_prefetch: false}) %>
              </div>
            <% end %>
          <% end %>
          <% items.each do |item| %>
            <% table.with_row do |row| %>
              <% columns.each do |column| %>
                <% if column[:type] == :action %>
                  <%= row.with_cell(text_align: :right) do %>
                    <%= action_proc(column[:model_class_name], column[:attribute_name]).call(item) %>
                  <% end %>
                <% else %>
                  <%= row.with_cell(primary: column[:primary]) do %>
                    <%= column[:method] ? method_proc(column[:attribute_name]).call(item) : item.public_send(column[:attribute_name]) %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render Index::PagyComponent.new(id: "#{frame}-pagy", pagy: pagy, index_view: index_view, search_session_token: search_session_token) %>
<% end %>
